@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely+Display+W00+Regular'); 

* {
  margin: 0;
}

.cabecalho {
  font: 1rem sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem; /* 24 pixels em rem */
}

.cabecalho-menu {
  display: flex;
  gap: 2.5rem; /* 40 pixels em rem */
}

.cabecalho-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8 pixels em rem */
  margin-left: 3.125rem; /* 50 pixels em rem */
}

.cabecalho-logo-icone {
  width: 4.25rem; /* 68 pixels em rem */
  height: 2.5rem; /* 40 pixels em rem */
}

.cabecalho-logo-titulo {
  color: var(--black, #303031);
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem; /* 32 pixels em rem */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.28px;
}

.cabecalho-menu-texto,
.cabecalho-menu-texto-verde {
  font-family: Inter;
  font-size: 1.125rem; /* 18 pixels em rem */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.cabecalho-menu-texto-verde {
  color: var(--green, #71A894);
  font-weight: 700;
}

body {
  background: #FAFAFA;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
}

.conteudo-principal-escrito {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem; /* 24 pixels em rem */
  margin-left: 3.125rem; /* 50 pixels em rem */
  margin-top: 4.625rem; /* 74 pixels em rem */
  width: 38rem; /* 608 pixels em rem */
}

.conteudo-principal-escrito-titulo {
  color: var(--black, #303031);
  font-family: "Bely Display W00 Regular";
  font-size: 4rem; /* 64 pixels em rem */
  font-style: normal;
  font-weight: 400;
  line-height: 5rem; /* 80 pixels em rem */
}

.conteudo-principal-escrito-subtitulo {
  color: var(--gray, #66645E);
  padding-top: 0.625rem; /* 10 pixels em rem */
  font-family: Proxima Nova;
  font-size: 1.5rem; /* 24 pixels em rem */
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 32 pixels em rem */
  letter-spacing: -0.48px;
}

.conteudo-principal-escrito-botao {
  display: inline-flex;
  padding: 1.25rem 1.5rem; /* 20 pixels 24 pixels em rem */
  margin-top: 1.25rem; /* 20 pixels em rem */
  align-items: center;
  border-radius: 0.5rem; /* 8 pixels em rem */
  background: #71A894;
  color: var(--white, #FFF);
  font-family: Proxima Nova;
  font-size: 1.125rem; /* 18 pixels em rem */
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 24 pixels em rem */
}

.conteudo-principal-imagem {
  margin-top: 1.25rem; /* 20 pixels em rem */
  background-image: url("img/blob-shape 1.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 41.9375rem; /* 671 pixels em rem */
  height: 45rem; /* 720 pixels em rem */
  padding: 0.0014375rem 0px 0.0218125rem 0px; /* 0.023px 0px 0.349px 0px em rem */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.conteudo-principal-imagem-foto {
  margin-right: 7.5rem; /* 120 pixels em rem */
  margin-bottom: 10rem; /* 160 pixels em rem */
}

.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* 8 pixels em rem */
}

.rodape-icone {
  width: 1.125rem; /* 18 pixels em rem */
  height: 2rem; /* 32 pixels em rem */
  display: block;
  margin: 0 auto;
}
